@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    /* border: 4px solid rgb(50, 240, 123); */
    padding: 0px;
    min-height: 100vh;
}

p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.toggle{

    position: fixed;
    border-radius: 20%;

    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    
    background: rgb(32, 224, 199);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;

    z-index:1000;   
}

h2{
    font-size: 60px;
}

.toggle.active{
    border: none;
    background: black;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

}

/* HOME SECTION */
.first{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

}

.first p{ 

    font-size: 20px;  
    color: rgb(255, 255, 255); 
}

.first h2{    
    
    color: #66FCF1 ;
    font-size: 72px;
    text-align: center;
    font-weight: 1000;
}

.homesci{
    /* border: 2px solid pink; */
    opacity: 0;
}

.contentbox{
    background-color: rgb(9, 19, 65);
    height: 100vh;

    padding: 60px;
}

.logotext{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgb(88, 81, 81);
}

p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}

.btn{
    background: rgb(103, 114, 114);
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

.sidebar  
{
    /* border: 6px solid blue; */
    position: absolute;
    right: 0;  
    top: 0;
    height: 100%;
    width: 50%; 
} 

.sidebar{

    position: fixed;
    background-color: rgb(29, 32, 27);
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 40px;
    z-index: 100;
    transition: 0.8s ease-in 0.1s;
    right: -100%;  /* for toggling */
}

.sidebar ul {
    padding: 60px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar ul li{

     /* border: 2px solid pink;  */
     list-style: none;
     margin: 15px;
}

.sidebar ul li a{
     text-decoration: none;
     color: white;
     font-size: 3em;
     margin: 10px 0;
     letter-spacing: 2px;

     transition : color 0.2s ease-in-out;
}

.sidebar ul li a:hover{
    color: aqua;
}

.sidebar.active{  
    right: 0;
}

.imgsidebar{

    background-image: url("photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    min-height: 50vh;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;

    transition: 1s ease-in-out 0.1s;
    left: -100%;
}

.imgsidebar.active{  
    left: 0;
}

.img2{

    background-color: rgb(28, 9, 63);
    z-index: 100;
    min-height: 50vh;
    position: fixed;
    left: 0;  
    bottom: 0;
    width: 50%;        

    transition: 1.1s ease-in-out 0.3s; 
    bottom: -100%;
 }  

.img2.active{   
   bottom: 0;   
}

.img3{
    width: 19.5vw;
    min-height: 50vh;
    z-index: 100;
    position: fixed;
    left: 30vw;
    top: 0;

    transition: 1s ease-in-out 0.2s;
    top: -100%;  /* for toggling */
}

.img3.active{
    top: 0;
}

/*SOCIAL MEDIA ICONS IN IMG3 */
.sci {

    background-color: rgb(42, 129, 129);
    color: white;

    display:flex;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-height: 50vh;
    margin: auto;
}

.sci a {
  
   color: rgb(255, 255, 255);
   margin: 10px ;
   font-size: 45px; 
   background: none;
   outline: none;
   transition: 0.2s ease-in;
} 

.sci a:hover{
    transform: scale(1.3);
    color: aqua;
    background: none;
} 

/*ABOUT SECTION*/
.about{
    background: rgb(10, 9, 80);
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column; 
}

.title{
    /* border: 2px solid rgb(25, 214, 214); */
    position: relative;
    padding-top: 60px;
    font-size: 20px;
    width: 100%; 
    text-align: center;
}

.title h2{

    font-weight: 900;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: aqua;
    font-size: 1.9em;
    text-transform: uppercase;
}

.about .content{
    /* border: 2px solid yellow; */
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content{
    /* border: 2px solid purple; */
    padding: 60px;
}

p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.textbx{
    /* border: 2px solid red; */
    min-width: 49%;
    width: 49%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

/* SKILLS SECTION */
.skills{

    background: rgb(9, 9, 26);
    position: relative;
}

.skills .content{

    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.skills .title p{
    color: white;
}

.skillsbox{
    /* border: 2px solid purple; */
    position: relative;
    padding: 40px 20px;
    max-width: 340px;  
    margin: 20px;
    background: rgb(78, 234, 255);
    z-index: 1;  
    text-align: center;

    transition: box-shadow 0.2s ease-in; 
}

.skillsbox::before {

    content: '';
    position: absolute;
    
    background: #09093f;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px; 
    z-index: -1;
    transform: skew(2deg, 2deg);
    border-radius: 5px;  
}

.skillsbox:hover{

    box-shadow: 2px 2px 10px 1px white;
}  

.skillsbox p{

    position: relative;
    color: white;  
}

.skillsbox h2{
    margin-top: 10px;  
    margin-bottom: 30px; 
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding-bottom: 10px;
    position: relative;
}

.skillsbox h2::after{

    content: " ";
    display: block;
    position: absolute;
    margin-top: 20px;

    width: 100%;
    height: 3px;
    bottom: -3px;
    background: rgb(17, 186, 238);
}

.image{

    background: rgb(247, 242, 242);
    position: relative;
    width: 200px; 
    height: 200px;
    margin: auto;  
}

/*CONTACT sSECTION */
.contact{
    background: rgb(10, 9, 80);
    min-height: 100vh;
}

.form{
    /* border: 4px solid purple; */
    background:rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 700px;

    margin: auto;   
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
}

.form .row{
    /* border: 2px solid red; */
    margin: 10px;
    width: 100%;  
    display: flex;
    flex-direction: row;
}

.col50{
    /* border: 2px solid aqua; */
    width: 50%;
    margin: 10px;
}

.col100{
    /* border: 2px solid aqua; */
    width: 100%;
    margin: 10px;
    text-align: center;
}

.row input,
.row textarea{
    /* border: 2px solid yellow; */ 
    color: black;
    font-size: 16px;
    border: none;

    width: 100%;
    padding: 10px;
    background: rgb(233, 245, 242);
    resize: none;
    outline: none;

    transition: 0.2s ease-in;
}

.row input:focus,
.row textarea:focus{

    border: 4px solid aqua;
}

.row input:hover,
.row textarea:hover{
    background: lightslategray;
}

.row textarea{
    /* border: 4px solid aqua; */
    height: 100px;
}

.row input[type='submit']{
    /* border: 2px solid yellow; */
    background: rgb(77, 169, 197);
    border-radius: 10%;
    
    display: inline-block;
    padding: 10px 30px;
    max-width: 150px;
    color: white;
}

@media(max-width: 600px)
{

.imgsidebar, .img2 , .img3{

    display: none;
}

.first h2{
    font-size: 55px;
    letter-spacing: 2px;
}

.toggle{

    /* border: 2px solid blue; */
    right: 40px;  
}

.contentbox{

   /* border: 2px solid rgb(12, 10, 10); */
   width: 100%; 
   padding: 40px;
}

.logotext{
    left: 40px;
}

.sci{
    left: 40px ;  
    bottom: 90px;
    padding: 0px ;    
}

.sci a{ 
    padding: 0px 20px ; 
}

.sidebar{
    width: 100%; 
}

section{
    min-height: 100vh;
}

.homesci{

    background-color: rgb(9, 19, 65);
    opacity: 100;
    min-height: 0vh;
   
    position: absolute;
    left: 40px ;  
    bottom: 40px;

    padding: 0px 10px ;   
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.homesci a{
    padding: 0px 20px ; 
}

.title{

    padding: 40px 10px;
}

.about .content {   

    min-width: 100%;
    width: 100%;
    padding: 0px 40px;
    padding-bottom: 20px;  
}

.skillsbox{

    margin: 20px 10px;
}

.skills .content{

    padding: 20px 30px;
}

.form{

    width: 100%;
}

.form .row{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form .col50{
    
    width: 100%;
    margin: 10px;
}

}